* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
a {
    color:black;
    text-decoration: none;
}
 a:link, a:visited  {
    /* color:black; */
    text-decoration: none;
    /* display: inline-block; */
 }
a:hover  {
    /* color: inherit; */
    text-decoration: none;
}
aside, nav, footer, header, section, main, div {
	display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}
address {
    font-style: normal;
  }

/**************************************/

html {
    width: 100%;
    height: 100%;
}
body {
    width: 1340px;
    height: 100%;
    margin: 0 auto;
}
.header {
    width: 1340px;
    height: 119px;
    position:static;
}
.header__boxUpHead {
    width: 1340px;
    height: 55px;
    background-color: #00A6BD;
}
.header__title {
    display: block;
    width: 339px;
    height: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: white;
    margin-left: 27px;
    padding-top: 7px;
}
.header__boxMenu {
    width: 540px;
    height: 16px;
    position: relative;
    top: -24px;
    left: 769px;
}
.header__menu {
    display: inline;
}
.header__menuElem {
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: white;

}
.header__menuElemLine {
    width: 1px;
    height: 9px;
    display: inline-block;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
}
.header__mainTitle {
    display: block;
    width: 1340px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    color: black;
    text-align: center;
    margin-top: 21px;
}

/************services********/
.services {
    display: block;
    width: 1340px;
    height: 460px;
    background-image: url(../images/zapo.jpg);
    position: static;
}
.services__textFZ {
    display: inline-block;
    width: 280px;
    height: 66px;
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    position: relative;
    top: 30px;
    left: 1047px;
}
.services__boxServices {
    width: 396px;
    height: 290px;
    background-color: #D9D9D9;
    Opacity: 80%;
    border-radius: 10px;
    margin-left: 22px;
}
.services__list {
    position: static;
}
.services__listElem {
    width: 35px;
    height: 33px;
    background: #CC4B02;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    position: static;
}
.services__listElem:nth-child(1) {
    position: relative;
    top: 24px;
    left: 24px;
}
.services__listElem:nth-child(2) {
    position: relative;
    top: 39px;
    left: 47px;
}
.services__listElem:nth-child(3) {
    position: relative;
    top: 60px;
    left: 75px;
}
.services__listElem:nth-child(4) {
    position: relative;
    top: 75px;
    left: 103px;
}
.services__listElem:nth-child(5) {
    position: relative;
    top: 92px;
    left: 134px;
}
.services__listElemNumber {
    position: relative;
    top: -13px;
    left: 1px;
    font-size: 30px;
    color: #000000;
}
.services__listElemText {
display: block;
width: 220px;
height: 44px;
position: relative;
top: -34px;
left: 57px;
color: black;
font-size: 17px;
}

/********************fund*************/
.fund {
    width: 1340px;
    height: 520px;
    position: static;
    background-color: #D9D9D9;
    margin-bottom: 20px;

}
.fund__title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-top: 19px;
    margin-bottom: 43px;
}
.fund__text {
    display: block;
    width: 733px;
    /* height: 61px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 30px;
}
.fond__title-href{
    color: blue;
}
.fund__text-red {
    /* width: 733px; */
    /* height: 61px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 30px;
    /* margin-top: -7px; */
    color: #CC4B02;
}
.found__img-qr{
    position: relative;
    left: 1px;
    top: 1px;
    width: 100px;
    height: 100px;
}
.fund__img {
    display: block;
    position: relative;
    top: -380px;
    left: 945px;
    border-radius: 50px;
}
/*****************foundWork************/
.foundWork {
    position: relative;
    width: 1340px;
    height: 500px;
    background-color: #00A6BD;
    margin-bottom: 20px;
    text-align: center;
}
.foundWork__title {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    display: block;
    margin-bottom: 10px;
}
.foundWork__imgTitle {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    display: inline-block;
    width: 780px;
}
.foundWork__img {
    width: 380px;
    height: 380px;
    display: block;
    position: relative;
    left: 485px;
    top: 14px;
}
/*****************offer************/
.offer {
    width: 1340px;
    height: 460px;
    background-image: url(../images/spadivnij.png);
    position: relative;
}
.offer__boxOffer {
    width: 378px;
    height: 397px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    position: relative;
    top: 39px;
    left: 926px;
}
.offer__titel {
    width: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    padding-top: 18px;
}
.offer__text {
    display: inline-block;
    width: 305px;
    height: 66px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    margin-left: 60px;
    margin-top: 10px;
}
.offer__list {
    position: relative;
}
.offer__listElem {
    width: 35px;
    height: 35px;
    background: #CC4B02;
    border-radius: 20px;
    margin-left: 36px;
    margin-top: 25px;
}
.offer__listElemNumber {
    font-size: 32px;
    color: white;
    position: relative;
    top: -2px;
    left: 8px;
}
.offer_listElemText {
    display: block;
    width: 252px;
    height: 44px;
    position: relative;
    top: -35px;
    left: 65px;
    font-size: 17px;
}

/***************priority*****************/
.priority {
    width: 1340px;
    height: 290px;
}
.priority__title {
    width: 100%;
    height: 32px;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;

}
.priority__text {
    width: 100%;
    height: 27px;
    font-size: 20px;
    color: #CC4B02; 
    text-align: center;
}
.priority__list {
    display: block;
    width: 964px;
    height: 174px;
    position: relative;
    top: 2.4px;
    left: 421px;
    line-height: 0px;
}
.priority__listElemImg {
    display: inline-block;
    position: relative;
    top: 16px;
    left: -59px;
}
.priority__listElemUp {
    display: inline-block;
    width: 100%;
    color: #CC4B02;
    text-align: center;
}
.priority__lisetElem{
    font-size: 18px;    
}
/********************ourWork*******************/
.ourWork {
    width: 1340px;
    height: 1091px;
    background-color: #D9D9D9;
    position: relative;
}
.ourWork__item {
    width: 100%;
    height: 34px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 500;   
}
.ourWork__imgTitle {
    display: inline-block;
    width: 373px;
    height: 88px;
    font-size: 16px;
}
.ourWork__img {
    width: 380px;
    height: 380px;
}
.ourWork__img:nth-of-type(1) {
    position: absolute;
    top: 173px;
    left: 51px;
}
.ourWork__imgTitle:nth-of-type(1) {
    position: absolute;
    top: 100px;
    left: 51px;
}
.ourWork__img:nth-of-type(2) {
    position: absolute;
    top: 173px;
    left: 480px;
    border-radius: 10px;
}
.ourWork__imgTitle:nth-of-type(2) {
    position: absolute;
    top: 136px;
    left: 604px;
}
.ourWork__img:nth-of-type(3) {
    position: absolute;
    top: 172px;
    left: 910px;
    border-radius: 10px;
}
.ourWork__imgTitle:nth-of-type(3) {
    position: absolute;
    top: 110px;
    left: 931px;
}
.ourWork__img:nth-of-type(4) {
    position: absolute;
    top: 657px;
    left: 52px;
}
.ourWork__imgTitle:nth-of-type(4) {
    position: absolute;
    top: 617px;
    left: 168px;
}
.ourWork__img:nth-of-type(5) {
    position: absolute;
    top: 657px;
    left: 485px;
    border-radius: 10px;
}
.ourWork__imgTitle:nth-of-type(5) {
    position: absolute;
    top: 617px;
    left: 569px;
}
.ourWork__img:nth-of-type(6) {
    position: absolute;
    top: 657px;
    left: 910px;
    border-radius: 10px;
}
.ourWork__imgTitle:nth-of-type(6) {
    position: absolute;
    top: 617px;
    left: 1033px;
}
/******************equipment***********/
.equipment {
    width: 1340px;
    height: 290px;
    position: relative;
}
.equipment__title {
  width: 100%;
  height: 32px;
  text-align: center;
  font-size: 24px;
  margin-top: 42px;  
}
.equipment__list {
    width: 800px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
}
.equipment__listElem {
    font-size: 20px;
}
.equipment__listElem:nth-child(2) {
    position: relative;
    top: -31px;
    left: 57px;
}
.equipment__listElem:nth-child(4) {
    position: relative;
    top: -30px;
    left: 99px;
}
.equipment__listElem:nth-child(6) {
    position: relative;
    top: -30px;
    left: 142px;
}
.equipment__lisetElemNumber {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #CC4B02;
    border-radius: 20px;
    font-size: 28px;
    color: white;
    padding-left: 8px;
}
.equipment__lisetElemNumber:nth-of-type(2){
    position: relative;
    top: 1px;
    left: 40px;

}
.equipment__lisetElemNumber:nth-of-type(3){
    position: relative;
    top: 1px;
    left: 80px;
}
/***************transport******************/
.transport {
    width: 1340px;
    height: 500px;
    background-color: #D9D9D9;
    position: relative;
}
.transport__title {
    width: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
}
.transport__item {
    width: 100%;
    font-size: 24px;
    text-align: center;
    color: #CC4B02;
    margin-top: 15px;
}
.transport__imgTitle {
    display: block;
    width: 290px;
    height: 88px;
}
.transport__imgTitle:nth-of-type(1) {
    position: relative;
    top: 38px;
    left: 79px;
}
.transport__imgTitle:nth-of-type(2) {
    position: relative;
    top: -126px;
    left: 469px;
}
.transport__imgTitle:nth-of-type(3) {
    position: relative;
    top: -583px;
    left: 937px;
}
.transport__img:nth-of-type(1) {
    position: relative;
    top: 2px;
    left: 35px;
    border-radius: 10px;
}
.transport__img:nth-of-type(2) {
    position: relative;
    top: -280px;
    left: 920px;
}
.transport__img:nth-of-type(3) {
    position: relative;
    top: -462px;
    left: 442px;
}
/****************publications*****************/
.publications {
    width: 1340px;
    height: 243px;
}
.publications__title {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
}
.publications__list {
    display: block;
    width: 711px;
    height: 150px;
    margin: 0 auto;
    margin-top: 30px;
}
.publications__listItem {
    font-size: 16px;
    line-height: 28px;
}
/************footer********************/
.footer {
    width: 1340px;
    height: 54px;
    background-color: #666666;
    color: white;
    position: relative;
}
.footer>p:nth-child(1){
    position: relative;
    top: 6px;
    left: 40px;
}
.footer>p:nth-child(2){
    position: relative;
    top: 9px;
    left: 40px;
}
.footer>p:nth-child(3){
    position: relative;
    top: -32px;
    left: 766px;
}
.footer>p:nth-child(4){
    position: relative;
    top: -29px;
    left: 766px;
}
.footer>p:nth-child(5){
    position: relative;
    top: -39px;
    left: 1163px;
    font-size: 12px;
}
